.pop-up-confirm {
  @include popup-base-position();
  top: calc(50% - 35px);
  left: calc(50% - 100px);
  width: 200px;
  height: 100px;
  z-index: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "text text"
    "button-yes button-no";
  background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.3s;
  &_active {
    transform: scale(1);
  }
  &__text {
    grid-area: text;
    text-align: center;
    line-height: 25px;
  }
  &__button-yes,
  &__button-no {
    height: 30px;
    width: 70px;
    align-self: center;
    justify-self: center;
    background: none;
    border: 2px solid black;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__button-yes {
    grid-area: button-yes;
  }
  &__button-no {
    grid-area: button-no;
  }
}
